# default reviewers
*                 @greenbone/openvas-scanner-maintainers

# devops
.github/          @greenbone/devops @greenbone/openvas-scanner-maintainers
.docker/          @greenbone/devops @greenbone/openvas-scanner-maintainers
