Source: openvas-server
Section: admin
Priority: optional
Maintainer: Debian OpenVAS Maintainers <openvas-distro-deb@wald.intevation.org>
Uploaders: Tim Brown <timb@nth-dimension.org.uk>, Javier Fernandez-Sanguino Pen~a <jfs@debian.org>, Jan Wagner <waja@cyconet.org>, Joey Schulze <joey@infodrom.org>
Build-Depends: debhelper (>= 6), autotools-dev, libgcrypt11-dev, libglib2.0-dev, libgnutls-dev, libopenvas2-dev (>= 2.0.0), libopenvasnasl2-dev (>= 2.0.0), libpcap0.8-dev, libwrap0-dev, pkg-config, po-debconf
Homepage: http://www.openvas.org/
Vcs-Browser: http://wald.intevation.org/plugins/scmsvn/viewcvs.php/trunk/openvas-server/packaging/debian/?root=openvas
Vcs-Svn: https://svn.wald.intevation.org/svn/openvas/trunk/openvas-server/packaging/debian/
Standards-Version: 3.8.0

Package: openvas-server
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: openvas-client
Description: remote network security auditor - server
 The Open Vulnerability Assessment System is a modular security auditing
 tool, used for testing remote systems for vulnerabilities that should be
 fixed.
 .
 It is made up of two parts: a server, and a client. The server/daemon,
 openvasd, is in charge of the attacks, whereas the client,
 OpenVAS-Client, provides an X11/GTK+ user interface.
 .
 This package provides the server.

Package: openvas-server-dev
Section: devel
Architecture: any
Depends: openvas-server (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: libopenvas2-dev, libopenvasnasl2-dev
Description: remote network security auditor - static libraries and headers
 The Open Vulnerability Assessment System is a modular security auditing
 tool, used for testing remote systems for vulnerabilities that should be
 fixed.
 .
 It is made up of two parts: a server, and a client. The server/daemon,
 openvasd, is in charge of the attacks, whereas the client,
 OpenVAS-Client, provides an X11/GTK+ user interface.
 .
 This package provides the static libraries and headers required for
 compiling the server.
