#!/bin/sh -e

# Only ask debconf questions if no certificate is present

if [ ! -f /var/lib/openvas/CA/cacert.pem ] || [ ! -f /var/lib/openvas/CA/servercert.pem ]; then
	. /usr/share/debconf/confmodule

	db_input low    openvasd/certificate  || true
# TODO:  All these fields (specially numeric fields should be
# reviewed to make sure that the data is sane)
# Numeric:
	db_input medium openvasd/califetime   || true
	db_input medium openvasd/srvlifetime  || true
# Set a default
	if [ ! -z "$LANG" ]; then
		DC=`echo $LANG | sed -n 's/^..*_\(..\)$/\1/p'`
	fi
	[ -n "$DC" ] && db_set   openvasd/country $DC
# Two letter code:
	db_input medium openvasd/country      || true
# Free text: (i.e. no validation needed) but might need
# to be limited to a given size
	db_input medium openvasd/province     || true
	db_input medium openvasd/location     || true
	db_input medium openvasd/organization || true
	db_go
fi

#DEBHELPER#

exit 0
