#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_test:
	echo "Skipping tests"

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	# remove the dependency_libs field (see wiki.debian.org/ReleaseGoals/LAFileRemoval)