[package]
name = "scannerlib"
version = "0.1.0"
edition = "2021"
license = "GPL-2.0-or-later"

[dependencies]
aes = "0.8.2"
aes-gcm = { version = "0.10.1" }
anyhow = "1.0.75"
async-trait = "0.1.68"
base64 = "0.21.2"
cbc = { version = "0.1.2", features = ["alloc"] }
ccm = "0.5.0"
chacha20 = "0.9.1"
chrono = { version = "0.4.23", default-features = false, features = ["clock"] }
clap = { version = "4.3.0", features = ["derive", "env"] }
cmac = "0.7.2"
configparser = "3"
ctr = "0.9.2"
des = "0.8.1"
digest = "0.10.6"
dns-lookup = "2.0"
flate2 = "1.0.25"
futures = "0.3.30"
futures-util = "0.3.28"
generic-array = "0.14"
glob = "0.3.1"
h2 = "0.4.4"
hex = "0.4.3"
hmac = "0.12.1"
http = "1.1.0"
http-body = "1"
http-body-util = "0.1.0"
hyper = { version = "1", features = ["full"] }
hyper-rustls = "0"
hyper-util = { version = "0", features = ["tokio"] }
itertools = "0.12.0"
lazy-regex = "3.3.0"
lazy_static = "1.4.0"
libc = "0.2"
md-5 = "0.10.5"
md2 = "0.10.2"
md4 = "0.10.2"
num_cpus = "1.16.0"
pbkdf2 = { version = "0.12.2", features = ["password-hash"] }
pkcs8 = { version = "0.10.2", features = ["encryption", "pem", "std"] }
quick-xml = { version = "0.37.1", features = ["serde", "serde-types", "serialize"] }

rand = "0.8.5"
redis = "0.22.3"
regex = "1.10.6"
ripemd = "0.1.3"
rsa = { version = "0.9.6", features = ["hazmat"] }
russh = "0.46.0"
russh-keys = "0.46.0"
rustls = "0.23.5"
rustls-pemfile = "2.1.2"
rustls-pemfile-old = { version = "1.0.2", package = "rustls-pemfile" }
sequoia-ipc = "0.30.1"
sequoia-openpgp = { version = "1.16.1", default-features = false, features = [
    "crypto-openssl",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.96"
sha1 = "0.10.5"
sha2 = "0.10.7"
socket2 = "0.5.7"
sysinfo = "0.30.5"
thiserror = "1.0.62"
time = { version = "0", features = ["parsing"] }
tokio = { version = "1.39.3", features = ["full"] }
tokio-rustls = "0.26.0"
toml = "0.8.4"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
urlencoding = "2.1.2"
uuid = { version = "1", features = ["v4", "fast-rng", "serde"] }
walkdir = "2"
x509-certificate = "0.23.1"
x509-parser = "0.16.0"
pcap = { version = "1.0.0", optional = true, features = ["all-features", "capture-stream"] }
pnet_base = { version = "0.33.0", optional = true }
pnet = { version = "0.33.0", optional = true }
pnet_macros = { version = "0.33.0", optional = true }
pnet_macros_support = { version = "0.33.0", optional = true }

libssh-rs = { version = "~0.2", features = [
    "vendored-openssl",
    "vendored",
], optional = true }

nasl-function-proc-macro = { path = "crates/nasl-function-proc-macro" }
nasl-c-lib = { path = "crates/nasl-c-lib", optional = true }
openssl = { version = "0.10.70", features = ["vendored"] }
blowfish = "0.9.1"
rc4 = "0.1.0"

[workspace]
resolver = "2"
members = ["crates/smoketest", "crates/nasl-function-proc-macro"]

[dev-dependencies]
tracing-test = "0.2.5"
criterion = "0"
once_cell = "1.20.1"
insta = { version = "1.41.1", features = ["ron"] }

[features]
openvas_serde_support = []
serde_support = []
default = [
    "openvas_serde_support",
    "enforce-no-trailing-arguments",
    "serde_support",
]

nasl-builtin-raw-ip = [
    "pcap",
    "pnet_base",
    "pnet",
    "pnet_macros",
    "pnet_macros_support",
]
nasl-builtin-libssh = ["libssh-rs"]
experimental = ["nasl-builtin-raw-ip", "nasl-builtin-libssh", "nasl-c-lib"]

enforce-no-trailing-arguments = []

[workspace.dependencies]
tokio = { version = "1.39.3", features = ["full"] }

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "GPL-2.0-or-later"

[[bin]]
name = "openvasd"
path = "src/openvasd/main.rs"

[[bin]]
name = "scannerctl"
path = "src/scannerctl/main.rs"

[[bin]]
name = "feed-verifier"
path = "src/feed_verifier/main.rs"

[[bench]]
name = "infisto_comparison"
harness = false

[[bench]]
name = "nasl_syntax_parse"
harness = false
