name: helm-chart release

on:
  push:
    tags: ["v*"]

jobs:
  release-helm-chart:
    name: Release helm chart
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        chart:
          - openvasd
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload to github registry
        uses: greenbone/actions/helm-build-push@v3
        with:
          chart-name: ${{ matrix.chart }}
          registry: ${{ vars.IMAGE_REGISTRY }}
          registry-subpath: helm-charts/
          registry-user: ${{ secrets.GREENBONE_BOT }}
          registry-token: ${{ secrets.GREENBONE_BOT_PACKAGES_WRITE_TOKEN }}

      - name: Trigger product helm chart upgrade
        uses: greenbone/actions/trigger-workflow@v3
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: "greenbone/product-helm-chart"
          workflow: product-chart-upgrade.yml
          inputs: '{"chart": "${{ matrix.chart }}", "tag": "${{ github.ref_name }}"}'
